# Arquivos de Ambiente
.env
.env.local
.env.development
.env.production
.env-config.txt
/backend/.env
/backend/env-config.txt
/backend/env.example  

# Arquivos de Banco de Dados (SQLite e Logs)
*.sqlite
*.db
*.log

# Diretórios de Módulos e Compilação
node_modules
/backend/node_modules
/backend/dist