/* Footer Section */
section.pagina-footer {
    width: 100%;
    padding: 200px 8% 50px;
    background-color: rgb(10, 25, 49);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.footer-conteudo {
    width: 100%;
    display: grid;
    grid-template-columns: 2.5fr 3.5fr 3fr;
    gap: 20px;
    margin-bottom: 30px;
}

.footer-conteudo .footer-col {
    display: flex;
    flex-direction: column;
}

.footer-conteudo .footer-col-titulo {
    margin-bottom: 10px;
}

.footer-conteudo .footer-col-titulo h3 {
    font-size: 24px;
    text-transform: capitalize;
}

.footer-conteudo .footer-col-desc {
    display: flex;
    flex-direction: column;
}

.footer-col-desc i {
    color: var(--amarelo-z4);
    margin-right: 10px;
}

.footer-col-1 .footer-col-desc p {
    line-height: 1.4;
    color: white;
}

.footer-col-1 .footer-col-desc span {
    margin-bottom: 17px;
    display: inline-block;
}

.footer-col-1 .footer-col-desc span:nth-child(1) {
    margin-top: 15px;
}

.footer-col-1 .footer-social-media {
    display: flex;
    margin-top: 20px;
}

.footer-col-1 .footer-social-media a {
    text-decoration: none;
    color: var(--amarelo-z4);
    margin-right: 10px;
    margin-bottom: 10px;
    height: 50px;
}

.footer-col-1 .footer-social-media a i {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid white;
    transition: all 0.3s ease;
}

.footer-col-1 .footer-social-media a i:hover {
    background-color: transparent;
}

.footer-col-1 .social-media-title {
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
}

.noticia-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.btn-noticia-btn {
    background-color: white;
    height: auto;
    width: 400px;
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}

.btn-noticia-btn:hover{
    background-color: white;
    transform: translateY(-2px);
}

.btn-area-footer {
    height: auto;
    width: 400px;
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}

.btn-area-footer:hover {
    transform: translateY(-2px);
}

.footer-col-2 .footer-col-desc a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.footer-col-2 .footer-col-desc a:hover {
    color: var(--amarelo-z4);
}

.footer-col.footer-col-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-col.footer-col-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.footer-col-2 .contact-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 0;
}

.footer-col-2 .footer-col-titulo {
    text-align: center;
    margin-bottom: 25px;
}

.footer-col-2 .footer-col-titulo h3 {
    text-align: center;
    margin: 0 auto;
}

.footer-col-2 .footer-col-desc a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    margin-bottom: 10px;
    transition: 0.3s;
}

.direito-copia {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px 0;
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
    position: relative;
    z-index: 10;
}

.direito-copia p,  b {
    color: #081F3E;
    font-size: 0.9rem;
}


/* Responsive */
@media (max-width: 768px) {
    .pagina-footer .footer-conteudo {
        grid-template-columns: 1fr;
    }
}