@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    --fundo-z4: #081F3E;
    --amarelo-z4: #FFEA00;
    --darkBk: #191919;
}

/* Código reutilizavel INICIO */
button {
    padding: 10px;
    background-color: #FFEA00;
    color: #081F3E;
    border: none;
    font-size: 15px;
    border-radius: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    background-color: white;
    color: var(--fundo-z4);
}


/* Código reutilizavel FIM */


body {
    width: 100%;
    min-height: 100vh;
}

.land-wrapper {
    width: 100%;
    max-width: 1400px;
    min-height: 100vh;
    margin: 0px auto;
    background-color: white; /* FUNDO BACKGROUND SECTION*/
}

section.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0px 8%;
    background: url('img/banner3.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home .home-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

/* navbar */
.main-navbar {
    position: absolute;
    width: 100%;
    height: 12vh;
    max-height: 80px;
    top: 0;
    left: 0;
    padding: 0px 8%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    z-index: 100;
    transition: all 0.3s;
}

.main-navbar .logo img {
    width: 120px;
    height: auto;
}

.main-navbar .nav-list {
    list-style: none;
}

.main-navbar .nav-list li {
    display: inline-block;
    /*deixa alinhado horinzontal*/
    margin: 0px 15px;
}

.main-navbar .nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: all 0.3s;
}

.main-navbar .nav-list li a:hover {
    /* PENDENTE LISTRA AMARELA EM BAIXO */
    color: var(--amarelo-z4);
}

.hamburguer-btn {
    user-select: none;
    cursor: pointer;
    display: none;
    /* desaparece */
}

.hamburguer-btn span {
    /* icon de hamburguer */
    display: block;
    width: 26px;
    height: 2px;
    background-color: white;
    margin: 6px auto;
    transition: all 0.3s;
}

.banner {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 80px);
    /* centraliza o text */
    top: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.banner-conteudo {
    position: relative;
    max-width: 700px;
    top: -55px;
    text-align: center;
}


.banner-conteudo h2 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 400;
    /* color */
}

.banner-conteudo h1 {
    color: white;
    margin: 20px 0px;
    font-size: 52px;
    line-height: 1.3;
    text-transform: uppercase;
    font-weight: 500;
}

.banner-conteudo p {
    color: white;
}

.btn-ler-mais {
    margin-top: 30px;
    font-size: 17px;
}
/* Section HOME estilo Final*/



/* Facilities Section estilo Inicio*/
/* 3 Colunas */
section.facilities{
    width: 100%;
    padding: 0px 8% 0px;
}

.facilities .facilities-conteudo{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* faz os 3 colunas com grid */
    grid-column-gap: 2%;
    top: -80px;
    z-index: 3;
}

.facilities-conteudo .facilities-item{
    padding: 25px 30px 30px;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.facilities-item .facilities-icon{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--fundo-z4);
}

.facilities-item .facilities-desc{
    text-align: center;
    margin-top: 25px;
}

.facilities-item .facilities-icon i{
    font-size: 22px;
    color: white;
}

.facilities-item .facilities-desc h2{
    margin-bottom: 10px;
    color: var(--darkBk);
    font-size: 22px;
    text-transform: uppercase;
}

.facilities-item .facilities-desc p {
    line-height: 1.4;
    color: #5e5858;
}
/* Facilities Section estilo Final*/



/* SOBRE Section inicio estilo*/
section.sobre{
    width: 100%;
    padding: 50px 8% 20px;
}

.sobre .sobre-conteudo{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 40px 5%;
}

.sobre-conteudo .sobre-coluna-esquerda{
    position: relative;
    width: 100%;
    height: 100%;
}

.sobre-conteudo .sobre-coluna-esquerda img{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

.sobre-conteudo .sobre-coluna-esquerda::before {
    position: absolute;
    content: '';
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    top: -10px;
    left: -10px;
    z-index: 1;
}


.sobre-conteudo .sobre-coluna-direita{
    position: relative;   
}

.sobre-conteudo .sobre-coluna-direita h4{
    font-size: 18px;
    color: var(--amarelo-z4);
    letter-spacing: 3px;
    text-transform: uppercase;
}

.sobre-conteudo .sobre-coluna-direita h1{
    font-size: 42px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    margin: 5px 0px 15px;
    text-transform: uppercase;
}

.sobre-conteudo .sobre-coluna-direita p{
    color: rgb(117, 100, 100);
}

.sobre-coluna-direita .sobre-estados{ 
    display: flex;
    margin-top: 40px;
}

.sobre-coluna-direita .sobre-estados .sobre-estados{
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.sobre-estados .sobre-estados i{
    margin-bottom: 10px;
    font-size: 36px;
    color: #081F3E;
}

.sobre-estados .sobre-estados h2{
    color: var(--fundo-z4);
    font-size: 22px;
    font-weight: 500;
}

.sobre-estados .sobre-estados-1{
    margin-right: 20px;
}
/* SOBRE Section estilo Final*/


/* Inicio Media Query */
@media(max-width: 968px) {
    /* section home */
    .main-navbar .nav-list li{
        margin: 0px 10px;
    }
}

@media(max-width: 868px) {
    /* home Section */
    .main-navbar .hamburguer-btn {
        display: block;
        margin-left: 30px;
        z-index: 101;
        /* hamburguer aparece */
    }

    .main-navbar .nav-list {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        /*right: 0; Deixa sobreposto o bkground em tudo do banner (retirar dps)*/
        right: -100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--darkBk);
        transition: right 0.3s;
        z-index: 100;
    }

    .home .main-navbar .nav-list.active{ /* chama o navlist com Background colocor e os Li > a */
        right: 0;
    }

    .home .main-navbar .nav-list li {
        margin: 25px 0px 0px;
    }

    .home .main-navbar .nav-list li:nth-child(1) {
        margin-top: 180px;
    }

    .home .main-navbar .nav-list li a {
        font-size: 18px;
        letter-spacing: 2px;
    }

    .home .main-navbar .junte-se-btn {
        margin-left: auto;
    }

    /* ICON 'X' no hamburguer quando tiver desativado */
    .main-navbar .hamburguer-btn.active span:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .main-navbar .hamburguer-btn.active span:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .main-navbar .hamburguer-btn.active span:nth-child(2){
        transform: translateX(-30px);
        opacity: 0;
    }
    /* Section Facilities */
    .facilities .facilities-conteudo{
        grid-template-columns: repeat(2, 1fr); /* 2 coluna em 868px*/
        grid-gap: 25px 20px;
    }
    /* SOBRE section */
    .sobre .sobre-conteudo{
        grid-template-columns: 1fr;
        grid-gap: 25px 0px;
    }
    .sobre-conteudo .sobre-coluna-esquerda{
        max-height: 500px;
    }

    .sobre-conteudo .sobre-coluna-direita h1{
        font-size: 32px;
    }

    .sobre-coluna-direita .sobre-estados .sobre-estados{
        flex-basis: 100%; 
    }
}

@media(max-width: 668px) {

}

@media(max-width: 568px) {
    /*Home section */
   .banner .banner-conteudo h2{
    font-size: 20px;
    }
    .banner .banner-conteudo h1{
        font-size: 40px;
    }
 /* Section Facilities */
    .facilities .facilities-conteudo{
        grid-template-columns: 1fr; /* 1 coluna em 568*/
        grid-gap: 25px 0px;
    }
 /* SOBRE Section */
    .sobre-conteudo .sobre-coluna-direita .sobre-estados{
        flex-direction: column;
        align-items: center;
    }

    .sobre-estados .sobre-estados-1{
        margin-right: 0px;
        margin-bottom: 15px;
    }
}